{% extends 'dashboard.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small> </small>
        </h1>
    </section>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
