<footer>

    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Sobre Nós</h3>
                        <div class="textwidget">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Links</h3>
                        <ul class="menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Categorias</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Planos</a></li>
                            <li><a href="#">Sobre Nós</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Últimos Tweets</h3>
                        <div class="twitter-content clearfix">
                            <ul class="twitter-list">
                                <li class="clearfix">
                                    <span>
                                        Make sure you are following
                                        <a href="#">@Graygrids</a> for all your Wingthemes needs!
                                    </span>
                                </li>
                                <li class="clearfix">
                                    <span>
                                        Eight marketplaces, one Graygrids Market. Join us:
                                        <a href="#">http://t.co/cLo2w7rWOx</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info pull-left">
                        <p>Todos os direitos reservados @ {{ "now"|date("Y") }} - Desenvolvido por <a href="http://wedevbrasil.com">WeDev Brasil</a></p>
                    </div>
                    <div class="bottom-social-icons social-icon pull-right">
                        <a class="facebook" target="_blank" href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" target="_blank" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
                        <a class="dribble" target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
                        <a class="flickr" target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr"></i></a>
                        <a class="youtube" target="_blank" href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                        <a class="google-plus" target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                        <a class="linkedin" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>


<a href="#" class="back-to-top">
    <i class="fa fa-angle-up"></i>
</a>