<div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right" style="padding-top: 20px">
        <li><a href="login.html"><i class="lnr lnr-enter"></i> Login</a></li>
        <li><a href="signup.html"><i class="lnr lnr-user"></i> Registrar</a></li>
        <li class="postadd">
            <a class="btn btn-danger btn-post" href="post-ads.html"><span class="fa fa-plus-circle"></span> Novo Anúncio</a>
        </li>
    </ul>
</div>